---
layout: home
---

<div class="container mx-auto px-64">
  <section class="mb-14">
    <h1>Posts</h1>
    {% include posts.html %}
  </section>

  <section class="mb-14">
    <h1>Pens</h1>
    {% include pens.html %}
  </section>

  <section class="mb-14">
    <h1>Reviews</h1>
    {% include reviews.html %}
  </section>

  <section class="mb-14">
    <h1>Games</h1>
    {% include games.html %}
  </section>

  <section class="mb-14">
    <h1>Projects</h1>
    {% include projects.html %}
  </section>

</div>
