---
layout: default
---
<h1>{{ page.title }}</h1>
<p>{{ page.created_at | date_to_string }} - {{ page.author }}</p>

<p data-height="265" data-theme-id="0" data-slug-hash="QBBNrZ" data-default-tab="js,result" data-user="br3nt"
  data-pen-title="Hex Grid" class="codepen">See the Pen <a href="{{ page.link }}">{{ page.title }}</a> by
  {{page.author}} (<a href="https://codepen.io/br3nt">@br3nt</a>) on <a href="https://codepen.io">CodePen</a>.</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>

{{ content }}
