---
layout: base
---

{% contentblock head %}
  <script>
    // inspired by: https://www.braydoncoyer.dev/blog/change-text-highlight-color-with-css
    // modified to move the colors into css variables
    let colorIndex = -1

    window.addEventListener("mousedown", e => {
      const nextColor = (++colorIndex % 6) + 1

      document.documentElement.style.setProperty("--selection-color", `var(--selection-color-${nextColor})`)
      document.documentElement.style.setProperty("--selection-background", `var(--selection-background-${nextColor})`)
    });
  </script>
{% contentblock %}

{% contentblock header %}

{{ content }}

{% contentblock footer %}
